<div class="row container center indigo">
  <div class="col 6">
    <h2>New Patient Info</h2>

    <form class="form patient-form">
      <div class="form-group">
        <label for="first-name">First Name:</label>
        <input class="form-input center white-text" type="text" autocomplete="off" id="first-name" required/>
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input class="form-input center white-text" type="text" autocomplete="off" id="last-name" required/>
      </div>
      <div class="form-group">
        <label for="phone-number">Phone Number:</label>
        <input class="form-input center white-text" type="text" autocomplete="off" id="phone-number" />
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input class="form-input center white-text" type="text" autocomplete="off" id="dob" />
      </div>
      <div class="form-group">
        <form>
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label><br>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
          <input type="radio" id="other" name="gender" value="other">
          <label for="other">Other</label>
        </form>
        <div class="form-group">
          <label for="drug-allergies">Drug Allergies:</label>
          <input class="form-input center white-text" type="text" autocomplete="off" id="drug-allergies" />
        </div>
        <div class="form-group">
          <label for="insurance">Insurance:</label>
          <input class="form-input center white-text" type="text" autocomplete="off" id="insurance" />
        </div>
        <div class="form-group">
          <label for="address">Address:</label>
          <input class="form-input center white-text" type="text" autocomplete="off" id="address" />
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input class="form-input center white-text" type="text" autocomplete="off" id="city" />
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <input class="form-input center white-text" type="text" autocomplete="off" id="state" />
        </div>
        <div class="form-group">
          <label for="zip">Zip Code:</label>
          <input class="form-input center white-text" type="text" autocomplete="off" id="zip" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
  </div>

  <script src="./js/newpatient.js"></script>