<div class="row container center">
  <div class="col s6">
    <div style="margin-top: 70px;" class="card indigo z-depth-5">
      <div class="card-content white-text">
        <span class="card-title">Patients</span>
        <div class="container center white-text">
          {{#each patients as |patient|}}
            {{> patient-details}}
          {{/each}}
        </div>
      </div>
      <div class="card-action">
        <a href="/patient/add">Add New Patient</a>
        <a href="/personnel">Personnel</a>
        <a href="/rooms">Rooms</a>
      </div>
    </div>
  </div>
</div>