<container class="container-sm">
  <div class="row">
      <div class="col">
        {{#each patients as |patient|}}
            {{> patient-details}}
        {{/each}}
      </div>
  </div>
</container>