<container class="container-sm">
  <div class="row">
      <div class="col">
        {{#each personnel as |p|}}
            {{> personnel-details}}
        {{/each}}
      </div>
  </div>
</container>