<div class="row container center">
  <div class="col s6">
    <div style="margin-top: 70px;" class="card indigo z-depth-5">
      <div class="card-content white-text">
        <span class="card-title">Staff</span>
        <div class="container center white-text">
          {{#each personnel as |p|}}
              {{> personnel-details}}
          {{/each}}
        </div>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn" href="/patients">Patients</a>
        <a class="waves-effect waves-light btn" href="/rooms">Rooms</a>
      </div>
    </div>
  </div>
</div>