<div class="container">
    <section class="card indigo white-text z-depth-5">
        <header>Staff Member</header>
        <div class="personnel-name">
            Name: {{person.name}}
        </div>
        <div class="phone_number">
            Phone Number: {{person.phone_number}}
        </div>
        <div class="job-title">
            Job Title: {{person.job_title}}
        </div>
        <div class="room-assignment">
            Room Currently Assigned:
            {{#each person.service_staff}}
            <p>{{room_service.[0].room_number}}</p>
            {{/each}}
        </div>
        <div class="input-field select-rooms">
            <form action="#">
                <label for="room-updater">Update Room Assignment:</label>
                <select multiple size="4">
                    <option value="" disabled selected>Control or Command + LeftClick</option>
                    {{#each person.service_staff as |room|}}
                    {{> room-option}}
                    {{/each}}
                </select>
                <input class="waves-effect waves-light btn" type="submit">
            </form>
        </div>
    </section>
</div>

<script src="/js/updateRoom.js"></script>