<div class="row container center">
  <div class="col s6">
    <div class="card indigo">
      <div class="card-content white-text">
        <span class="card-title">Rooms</span>
        <div class="container center white-text">
          {{#each rooms as |rooms|}}
            {{> room-details}}
          {{/each}}
        </div>
      </div>
      <div class="card-action">
        <a href="/patients">Patients</a>
        <a href="/personnel">Personnel</a>
      </div>
    </div>
  </div>
</div>