<div class="container">
<section class="card indigo white-text">
    <div class="room_number">
        Name: {{rooms.room_number}}
    </div>
    <div class="type">
        Phone Number: {{rooms.type}}
    </div>
    <div class="status">
        Date of Birth: {{rooms.status}}
    </div>
</section>
</div>