<div class="replace-me">
    <p>implement a search feature</p>

    <p>
        till then: 
        <a href="/patients">Patient List</a>
        <a href="/personnel">Personnel List</a>
    </p>
</div>