<div style="padding-top:10px; padding-bottom:25px" class="container center indigo">
    <h3 class="white-text">
        Welcome to Patient Tracker
    </h3>
    <h6 class="white-text">
        Click a link below to get started
    </h6>
</div>
<div style="margin-top: 10px;" class="row container center">
    <div class="col s4">
        <div class="card hoverable indigo">
        <div class="card-content white-text">
            <span class="card-title">Current Patient Info</span>
        </div>
        <div class="card-action">
            <a href="/patients">Patients</a>
        </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card hoverable indigo">
        <div class="card-content white-text">
            <span class="card-title">Room Status</span>
        </div>
        <div class="card-action">
            <a href="/rooms">Rooms</a>
        </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card hoverable indigo">
        <div class="card-content white-text">
            <span class="card-title">Staff Information</span>
        </div>
        <div class="card-action">
            <a href="/personnel">Personnel</a>
        </div>
        </div>
    </div>
</div>
{{!-- Link to js file --}}
<script src="./js/search.js"></script>