<div class="replace-me">
    <div class="wrap">
        {{!-- This is placeholder code, the search bar is not fully functional yet --}}
        <div class="search">
            <input id="search" type="text" onkeyup="search()" name="search" class="searchTerm" placeholder="What are you looking for?">
            <button type="submit" class="searchButton"> <i class="fa fa-search"></i></button>
        </div>
    </div>
    <p>
        <a href="/patients">Patient List</a>
        <a href="/personnel">Personnel List</a>
    </p>
</div>
{{!-- Link to js file --}}
<script src="./js/search.js"></script>